DATABASE_URL=postgresql+psycopg://ludexis:ludexis@db:5432/ludexis
REDIS_URL=redis://redis:6379/0

JWT_SECRET_KEY=PUT_SUPER_SECRET_KEY_HERE

ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=60

CORS_ORIGINS=http://localhost,http://127.0.0.1