fastapi==0.111.1
uvicorn[standard]==0.23.2
SQLAlchemy==2.0.31
psycopg[binary]==3.4.0
alembic==1.11.2
python-jose[cryptography]==3.2.0
passlib[bcrypt]==1.7.4
pydantic==2.8.0
python-dotenv==1.0.0
celery==5.4.0
redis==4.9.0
python-multipart==0.0.6
